ion-app {
  max-width: 500px;
  margin: auto;
}

.ion-content--color {
  background: var(--ion-color-secondary);
}

.toolbar-content {
  background: #FDEDDB !important;
}

a {
  text-decoration: none;
}

.btn-icon {
  font-size: 1.35rem;
  margin: 0 0.25rem 0 0;
}

.event-input {
  border-bottom: 1px solid var(--ion-input-border);
  margin: 0 0 0.5rem 0;
}

.event-input:focus {
  border-bottom: 1px solid var(--ion-color-primary);
  margin: 0 0 0.5rem 0;
}

ion-tab-button svg g{
  width:22px;
  height: 22px;
}

ion-tab-button #Primary-Color {
  fill: hsl(203,13%,44%);
}

ion-tab-button .active-tab #Primary-Color {
  fill: #2d3652;
} 

ion-tab-button #Secondary-Color {
  fill: transparent;
}

ion-tab-button ion-label {
  font-size: 13px;
}
