.about-text{
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 75%;
}

@media (max-width: 500px){
  .about-text{
    text-align: justify;
    max-width: 85%;
    line-height: 1.25;
    padding: 2rem 0.5rem;
  }

}