.event-container{
  max-width: 400px;
  flex-direction: column;
  display: flex;
  padding: 0;
  line-height: 1.25;
  font-size: 1.25rem;
  background: #ffffff;
  margin: 2rem;
  font-size: 1.15rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.event-container__date{
  display: flex;
  justify-content: flex-start;
  max-height: 4rem;
  align-items: center;
}
.event-container__image{
  width: 400px;
  height: auto;
  margin: 0 auto;
}
.event-container__title{
  font-size: 1.4rem;
  color: #252525;
  margin: 0.1rem;
  text-transform: uppercase;
}
.time-container{
  margin: 1rem 1rem;
  color: #454;
}

.btn--reverse{
  color: #330033;
  background: transparent;
  border: 1.5px solid #330033;
  margin: 1rem;
}

@media (max-width: 500px){
  .event-container{
    margin: 1rem 0.5rem;
  }
  .event-container__image{
    width: 100%;
    height: auto;
  }
}