.event-container{
  max-width: 400px;
  flex-direction: column;
  display: flex;
  padding: 0;
  line-height: 1.25;
  font-size: 1.25rem;
  background: #ffffff;
  margin: 2rem;
  font-size: 1.15rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}
.event-container:hover{
  cursor: pointer;
}
.event-container__date{
  display: flex;
  justify-content: flex-start;
  max-height: 4rem;
  align-items: center;
}
.event-container__image{
  width: 400px;
  height: auto;
  margin: 0 auto;
}
.event-container__title{
  font-size: 1.4rem;
  color: #252525;
  margin: 0.1rem;
  text-transform: uppercase;
}
.event-container__category{
  margin: 1.5rem;
  text-decoration: underline;
}
.time-container{
  margin: 1rem 1rem;
  color: #454;
}

.btn--reverse{
  color: #330033;
  background: transparent;
  border: 1.5px solid #330033;
  margin: 1rem;
}

.event-preview{
  background: #fff;
  top: 0;
  left: 50%;
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, 10%);
  padding: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 700px;
  width: 50%;
}

.event-preview__title{
  font-size: 2rem;
  text-transform: uppercase;
}

.event-preview img{
  max-width: 100%;
  margin-bottom: 2rem;
}

.event-preview__close{
  border: 1px solid transparent;
  padding: 1rem 2.5rem;
  align-items: center;
  font-size: 1rem;
  display: flex;
}
.event-preview__close:hover{
  cursor: pointer;
}
.event-preview .event-container__date{
  position: absolute;
  top: 21%;
  left: 7%;
  background: white;
  border-radius: 40px;
}
.event-preview .event-container__meta{
  
}
.event-preview .event-description{
  line-height: 1.3rem;
  padding: 0 2rem;
  font-size: 1.2rem;
}

@media (max-width: 500px){
  .event-container{
    margin: 1rem auto;
    padding: 0 2rem;
  }
  .event-container__image{
    width: auto;
    height: 180px;
  }
}