.event-modal{
  padding: 2.5rem 5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  margin: 10rem auto 0 auto;
  max-width: 1000px;
}
.event-modal form{
  display: flex;
  flex-direction: column;
  align-items: center;
}