.app-navigation{
  color: #252525;
  min-height: 3.5rem;
  background: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.app-navigation .logo{
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 0;
}
.app-navigation ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.app-navigation ul .app-navigation__item{
  margin: 0 1rem;
}

@media(max-width: 500px){
  .app-navigation .logo{
    font-size: 1.5rem;
  }
  .app-navigation ul {
    display: none;
  }
}