.app-navigation{
  color: #eeeeee;
  padding: 0.5rem 0 2.5rem 0;
}
.app-navigation ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.app-navigation ul .app-navigation__item{
  margin: 0 1rem;
}