.ion-content--color {
  background: var(--ion-color-secondary);
}

.toolbar-content {
  background: #FDEDDB !important;
}

a {
  text-decoration: none;
}

.btn-icon {
  font-size: 1.35rem;
  margin: 0 0.25rem 0 0;
}

.event-input {
  border-bottom: 1px solid var(--ion-input-border);
  margin: 0 0 0.5rem 0;
}

.event-input:focus {
  border-bottom: 1px solid var(--ion-color-primary);
  margin: 0 0 0.5rem 0;
}

ion-tab-button ion-icon{
  font-size: 1.45rem;
}

ion-tab-button ion-label {
  font-size: 13px;
}
