* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #0f0f0f;
}

form{
  width: 100%;
}

body{
  max-width: 380px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

.App {
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
}
.label {
  text-align: left;
  display: flex;
  align-self: flex-start;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.input {
  padding: 0 0.5rem;
  color: #AEAEAE;
  border: 1px solid #ddd;
  margin: 1rem 0;
  font-size: 16px;
  width: 100%;
  height: 2rem;
  border-radius: 3px;
}

.DayPickerInput{width: 100%;}
.DayPickerInput input{
  width: 100%;
  padding: 0 0.5rem;
  color: #AEAEAE;
  border: 1px solid #ddd;
  margin: 1rem 0;
  font-size: 16px;
  height: 2rem;
  border-radius: 3px;
}

.input--textarea {
  padding: 0.5rem;
  height: auto;
}

.input--search {
  height: 3rem;
}

/*--------------*/
/* App header*/
/*--------------*/

.app-header {
  background: #252125;
}
.app-header__title {
  margin: 0;
  color: #dddddd;
  padding: 2.5rem 0 1rem 0;
}
.btn {
  border: 0;
  background: #b90714;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  margin: 2rem auto;
  border-radius: 2px;
  cursor: pointer;
}

.btn--large {
}

/*--------------*/
/* Navigation */
/*--------------*/

.main-nav{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(237, 239, 241);
}

.nav-logo{
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-list{
  display: none;
}

.nav-list--active{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: white;
}

.nav-btn{
  width: 1.5rem;
  height: 1rem;
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.nav-btn__line{
  width: 100%;
  border-bottom: 0.18rem solid #252125;
  border-radius: 0.15rem;
  display: flex;
}

.nav__item{
  padding: 1rem 0;
  border-bottom: 1px solid #f4f4f4;
}

.nav__link{
  font-size: 1.2rem;
}

/*--------------*/
/* Search */
/*--------------*/

/*--------------*/
/* Events section */
/*--------------*/

.event-container {
  padding: 1rem 2rem;
  margin: 1rem auto;
  width: 95%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  line-height: 1.7;
}

.event-modal {
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  border-radius: 5px;
}

/*--------------*/
/* Single item */
/*--------------*/

.event{
  padding: 0 2rem;
} 

.event__title{
  margin: 2rem 0;
  font-weight: 600;
  font-size: 2.25rem;
}

.event__description{
  line-height: 1.7;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  color: #4e4442;
}

.event__col{
  flex: 100%;
  display: flex;
  align-items: center;
  margin: 2rem 0 0 0;
  font-size: 1.1rem;
}

.event__col i{
  color: #b90714;
  font-size: 1.2rem;
}

.event__location, .event__time{
  margin: 0 0.5rem;
  color: #b90714;
}

/*--------------*/
/* Search section */
/*--------------*/

.section {
  padding: 2rem 1rem;
  background: #f4f4f4;
}

.section__title {
  text-align: left;
  margin: 2rem 0;
  font-weight: 900;
  font-size: 1.75rem;
}

.searchbox {
  max-width: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 2rem 2.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.searchbox__title {
  margin: 0.5rem;
  font-weight: 400;
}
.searchbox label {
  color: #888;
}

/*--------------*/
