

/*--------------*/
/* Basic resets */
/*--------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #0f0f0f;
}

form{
  width: 100%;
}

body{
  max-width: 380px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#root{
  max-width: 380px;
  background-color: #F6F9F9;
}


/*--------------*/
/* Loader */
/*--------------*/

.loader__wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loader{
  display: block;
  width: 75px;
  height: 75px;
  border: 3px solid rgba(0,0,0,.25);
  border-radius: 50%;
  border-top-color: #212121;
  animation: spin 1.5s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/*--------------*/
/***** Grid *****/
/*--------------*/

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
}

/*--------------*/
/***** Inputs *****/
/*--------------*/

.label {
  text-align: left;
  display: flex;
  align-self: flex-start;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.input {
  padding: 0 0.5rem;
  color: #AEAEAE;
  border: 1px solid #ddd;
  margin: 1rem 0;
  font-size: 16px;
  width: 100%;
  height: 2rem;
  border-radius: 3px;
}

.DayPickerInput{width: 100%;}
.DayPickerInput input{
  width: 100%;
  padding: 0 0.5rem;
  color: #AEAEAE;
  border: 1px solid #ddd;
  margin: 1rem 0;
  font-size: 16px;
  height: 2rem;
  border-radius: 3px;
}

.input--textarea {
  padding: 0.5rem;
  height: auto;
}

/*--------------*/
/* Navigation */
/*--------------*/

.main-nav{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-logo{
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-list{
  display: none;
  transition: all 0.5s ease-in;
}

.nav-list--active{
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 40.15%;
  width: 378px;
  background: #ffffff;
  animation: slideDown ease-out 0.5s;
}

@media(max-width:450px){
  .nav-list--active{
    left: 0;
    width: 100%;
  }
}

.nav-btn{
  width: 20px;
  height: 15px;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  cursor: pointer;
  outline: 0;
}

.nav-btn__line{
  width: 20px;
  border-radius: 2px;
  display: flex;
  height: 2px;
  background-color: #212521;
}

.nav-btn__line--small{
  width: 75%;
  align-self: flex-start;
}

.nav__item{
  padding: 1rem;
  border-bottom: 1px solid #f4f4f4;
}

.nav__link{
  font-size: 1.2rem;
}

/*--------------*/
/* App hero*/
/*--------------*/

.hero{
  display: flex;
  flex-direction: column;
  background-image: url('./images/conference_speaker.svg');
  background-size: contain;
  height: 250px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 5px;
}

.hero__title{
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-size: 2.25rem;
  margin: 0.5rem 0 0 0;
  text-align: center;
}

.hero__desc{
  width: 60%;
  font-family: 'Source Sans Pro';
}

.hero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.btn--hero{
  margin: 1rem auto;
}


.btn {
  border: 0;
  background: #FFB04E;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  margin: 2rem auto 1rem auto;
  border-radius: 2px;
  cursor: pointer;
  animation: slideDown ease-out 0.5s;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

.btn--black{
  background: #252125;
}

.btn--large {
}

/*--------------*/
/* Search*/
/*--------------*/

.input--search {
  height: 3rem;
  margin: 0;
  border: 0;
}

.searchbox {
  margin: 2rem 0;
  max-width: 500px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

/*--------------*/
/* Events section */
/*--------------*/

.event-item {
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  line-height: 1.7;
}

.event-item__title{
  font-size: 1.2rem;
  font-family: 'Source Sans Pro';
}

.event-modal {
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  border-radius: 5px;
}

/*--------------*/
/* Single item */
/*--------------*/

.event{
  padding: 0 2rem;
} 

.event__title{
  margin: 2rem 0;
  font-size: 2.25rem;
  font-family: 'Source Sans Pro';
}

.event__description{
  line-height: 1.7;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
  color: #4e4442;
}

.event__col{
  flex-basis: 60%;
  display: flex;
  margin: 2rem 0 0 0;
  font-size: 1rem;
  align-items: center;
}
.event__col:last-of-type{
  flex-basis: 40%;
}

.event__col i{
  /* red color: #b90714;*/
  font-size: 1.2rem;
  color: #FFB04E;
}

.event__location, .event__time{
  margin: 0 0.5rem;
  /* red color: #b90714;*/
  color: #FFB04E;
  font-size: 0.95rem;
}

/*--------------*/
/* Search section */
/*--------------*/

.section {
  padding: 1rem;
}

.section__title {
  font-family: 'Source Sans Pro';
  text-align: left;
  margin: 2rem 0;
  font-weight: 900;
  font-size: 1.75rem;
}

.section__text{
  line-height: 1.6;
}

.not-found{
  
}


/*--------------*/
