*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa;
  position: relative;
  color: #252525;
}
input, textarea{
  border: 1px solid #ccc;
  border-radius: 2px;
}
.section{
  margin-top: 2.5rem;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--events{
  margin-top: 10rem;
  padding: 0 5rem;
}
.section__title{
  font-size: 3.5rem;
}

@media(max-width: 500px){
  .section{
    margin-top: 2.5rem;
    padding: 0;
  }
  .section__title{
    margin: 0.5rem;
    font-size: 2.5rem;
  }
}
