.btn {
  font-family: 'Signika';
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  background-color: #2D3652;
  color: #ffffff;
}


.hero {
  display: flex;
  background-image: url('../assets//backgrounds/home-sm.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: flex-end;
  height: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  color: var(--main-dark);
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 10% 0;
}

.title {
  font-family: 'Signika';
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

.hero__description {
  max-width: 75%;
  margin: 0.25rem 0;
}

.btn__hero {
  margin: 2rem 0 0 0;
  padding: 0.5rem 3rem;
}

.form-content {
  display: flex;
  flex-direction: column;
}

ion-tab-button ion-icon{
  font-size: 1.45rem;
}

ion-tab-button ion-label {
  font-size: 13px;
}
